/* Component CSS Import */

@import url('./giftcard/index.css');

/* CUSTOM RADIO START */
/* 
<div class="input-radio mb-4">
   <label class="custom-radio flex-nowrap">
    <input type="radio" name="expiration-date" value="1">
     No Expiration Date
   </label>
</div>
*/

.custom-radio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #000000ab;
}

.custom-radio input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #3b4056;
  padding: 5px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  border-radius: 25px;
}

.custom-radio input[type=radio]::before {
  content: "";
  width: 8px;
  height: 8px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #3b4056;
  box-shadow: inset 1em 1em #3b4056;
  border-radius: 25px;
}

.custom-radio input[type=radio]:checked::before {
  transform: scale(1);
}

/* CUSTOM RADIO END */