.add-location-card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.add-location-card .add-location-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  color: inherit;
}

.add-location-card .add-location-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.add-location-card .add-location-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.add-location-card a.add-location-item:hover {
  background-color: #f7f7f7;
}

.add-location-card .add-location-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 20px);
  transform: translateX(-50%);
  border-top: 1px solid #ddd;
}

.add-location-card .add-location-item .info {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.add-location-card .add-location-item .info.disabled {
  opacity: 0.5;
}

.add-location-card .add-location-item .info .title {
  color: #303030;
  font-weight: 500;
}

.add-location-card .add-location-item .info .desc a {
  color: #005bd3;
  text-decoration: underline;
}

.installed-app-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px 16px;
}

.installed-app-item:hover {
  background-color: #f7f7f7;
}

.installed-app-item .info {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.installed-app-item .info .img {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.installed-app-item .info .img img {
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 8px;
}

.installed-app-item .info .title {
  color: #303030;
}

.installed-app-item .info .desc {
  color: #616161;
}

.off-tag {
  display: inline-block;
  padding: 2px 8px;
  color: #616161;
  background-color: #0000000f;
  border-radius: 6px;
}

.manage-currency-info {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  color: #003a5a;
  background-color: #eaf4ff;
  border-radius: 8px;
}

.manage-currency-info a {
  text-decoration: underline;
  color: #003a5a;
}

.list-warning {
  display: flex;
  gap: 6px;
  color: #5e4200;
  background-color: #fff1e3;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
}
.list-warning ul {
  margin: 0;
  padding-inline-start: 15px;
}
.list-warning ul li {
  margin-bottom: 6px;
}
.list-warning ul li a {
  color: inherit;
  text-decoration: underline;
}