.add-variant-filter .currency-input input[type="text"],
.add-variant-filter .currency-input input[type="number"] {
  padding-left: 35px !important;
}

.variant-info {
  display: flex;
  gap: 8px;
}

.variant-info .img {
  aspect-ratio: 80 / 80;
  width: 80px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.variant-info .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.variant-info .title {
  font-size: 16px;
  color: #303030;
  margin-bottom: 5px;
}

.variant-info .title .active {
  display: inline-flex;
  padding: 2px 8px;
  border-radius: 40px;
  background-color: #affebf;
  font-size: 12px;
}

.variant-info .total-variants {
  font-size: 13px;
  color: #616161;
}

.add-variant-filter .input input {
  padding: 5px 15px;
}

.add-variant-filter .input .currency-txt {
  top: 5px;
  left: 10px;
}

.add-variant-filter .select-dropdown .droupdown-head.one span {
  font-size: 13px;
  color: #616161;
}

.add-variant-filter .variant-list {
  margin-inline: -16px;
}

.add-variant-filter .variant-list a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #303030;
  padding: 8px 16px;
  transition: 0.1s;
}

.add-variant-filter .variant-list a:last-child {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.add-variant-filter .variant-list a.active,
.add-variant-filter .variant-list a:hover {
  background-color: #f7f7f7;
}

.add-variant-filter .variant-list a .img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.add-variant-filter .variant-list a .img img {
  width: 16px;
}

.add-option-btn:hover,
.add-option-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  color: #000;
  padding: 6px 12px;
  border-radius: 4px;
  transition: 0.2s;
}

.add-option-btn:hover {
  background-color: #eeeeee83;
}