.form-check {
    align-items: start;
}

.catalog-radio span {
    font-size: 13px;
    font-weight: 700;
}

.catalog-radio p {
    font-size: 12px;
    color: #616161;
}

.pricing-table .pricing-table-filters {
    padding: 8px;
    /* border-bottom: 1px solid #ddd; */
  }
  
  .pricing-table .pricing-table-filters .filter-btns {
    display: flex;
    gap: 6px;
  }
  
  .pricing-table .pricing-table-filters .filter-btns a {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    color: #303030;
    font-weight: 500;
  }
  
  .pricing-table .pricing-table-filters .filter-btns a.active,
  .pricing-table .pricing-table-filters .filter-btns a:hover {
    background-color: #eee;
  }
  
  .pricing-table .pricing-table-filters .filter-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    padding-inline-end: 45px;
  }
  
  .pricing-table .pricing-table-filters .filter-search .form-control {
    height: 100%;
    padding-block: 2px;
  }
  
  .pricing-table .pricing-table-filters .filter-search .form-control::placeholder {
    color: #616161;
  }
  
  .badge-success {
    width: 68px;
    height: 24px;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    border: 1px solid #00C04D40;
    gap: 10px;
    text-align: center;
    background-color: #06c669dc;
    color: #fff;
}

.sub-title{
    font-weight: 700;
}

.create-title{
    font-size: 20px;
    font-weight: 600;
    row-gap: 5px !important;
}

.table thead tr th:last-child{
    padding: 0px;
}

.selectpicker .dropdown-toggle{
    padding: 10px 15px;
}

.custom-svg {
    width: 40px;
    height: 30px;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 6px;
}

.custom-svg-01 {
    width: 35px;
    height: unset;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 6px;
}

.custom-svg:hover {
    background-color: #eeeeee83;
}

.publishing-dropdown {
    padding: 10px !important;
}

.publishing-dropdown div {
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
}

.arrow-svg svg {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 6px;
}

.publishing-dropdown-01 div {    
    padding: 7px 0px;
    cursor: pointer;
    font-size: 13px;
    color: #000;
}

.publishing-dropdown-01 > a{
    padding: 7px 0px;
    cursor: pointer;
    font-size: 13px;
    color: #000;
    display: block;
}

.publishing-dropdown-01 .arrow-svg svg{
    margin-right: 5px;
}

.product-price span{
    font-size: 13px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 7px;
    display: block;
}

.product-price-main-box-01 span{
    font-weight: 600;
}

.product-price h2{
    font-size: 20px;
}

.product-price-main-box > div:first-child {
    width: 150px;
    margin-right: 20px;
    border-right: 1px solid #efefef;
}


.product-price-main-box-01 > div:first-child {
    width: 350px;
    margin-right: 20px;
    border-right: 1px solid #efefef;
}

.product-price-main-box > div:nth-child(2) {
    width: 350px;
    margin-right: 15px;
    padding-right: 20px;
    border-right: 1px solid #efefef;
}

.product-price-main-box-01 > div:nth-child(2) {
    width: 410px;
}

.product-price-main-box .filter-option-inner-inner{
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 400;
}

.currency-input span.currency-txt-1 {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 14px;
}

.currency-input input {
    text-align: right;
}

.currency-input input[type="number"] {
    padding-left: 20px !important;
    padding-right: 30px !important;
}

.custom-select .dropdown-toggle {
    padding: calc(0.5rem - 1px) calc(1rem - 1px) !important;
    border-color: #7d808e !important;
}

.overall-adjustment {
    width: 150px;
}

.product-bottom-area {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 0 0px 10px 10px;
}

.product-bottom-area input {
    margin-right: 10px;
}

.product-bottom-area label {
    cursor: pointer;
    color: #000;
}

.product-price .text{
    color: rgb(97, 97, 97);
    font-size: 13px;
}

.light-style .bootstrap-select .dropdown-toggle:not(.show):hover, .light-style .bootstrap-select .dropdown-toggle:hover, .light-style .bootstrap-select .dropdown-toggle {
    border: 1px solid #7d808e !important;
    padding: 9px 15px;
}

.manage-company-location {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #dbd8d8;
}

.manage-company-location h3{
    font-size: 13px;
    font-weight: 600;
}

.textsearch h3 {
    font-size: 14px;
    color: rgb(48, 48, 48);
}

.textsearch p {
    color: rgb(48, 48, 48);
    font-size: 13px;
    margin: 3px 0px;
}

.duplicate-main label {
    width: 100%;
    border-top: 1px solid #e3e2e2;
    padding-top: 15px;
    margin-top: 10px;
    cursor: pointer;  
}

.gap-13 {
    gap: 5rem !important;
}

.product-price-main-box-01 p {
    color: rgb(48, 48, 48);
}

.back-change-on-hover{
    padding: 7px 10px;
}

.back-change-on-hover:hover{
    background-color: #fff;
    color: #1a1a1a;
}

table tbody tr:hover {
    background: #f5f5f7;
    cursor: pointer;
}