.sort-by .dropdown-toggle::after {
  display: none;
}

.sort-by .dropdown-toggle {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid #7d808e;
}

.sort-by .dropdown-menu {
  padding: 8px 12px;
  font-size: 13px;
  min-width: 190px;
}

.sort-by .dropdown-menu .product-sort label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.sort-by .dropdown-menu .product-sort:not(:last-child) {
  margin-bottom: 10px;
}

.price-variant-item {
  border-top: 1px solid #ddd;
}

.price-variant-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}

.price-variant-item .head .arrow svg {
  transition: 0.3s;
}

.price-variant-item .head.active .arrow svg {
  transform: rotate(180deg);
  transform-origin: center;
}

.price-variant-item .head:hover {
  background-color: #f7f7f7;
}

.price-variant-item .head .info {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 70%;
}

.price-variant-item .head .info .img {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.price-variant-item .head .info .img img {
  aspect-ratio: 1/1;
  object-fit: contain;
}

.price-variant-item .head .info h5 {
  font-size: 14px;
  color: #303030;
}

.price-variant-item .head .price-input {
  width: 30%;
  display: flex;
  gap: 10px;
}

.price-variant-item .body {
  padding: 20px;
}

.price-variant-item .body .base-price {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.price-variant-item .body .base-price span {
  color: #616161;
  font-size: 12px;
}

.price-variant-item .body .total-price {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.price-variant-item .body .total-price span {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.currency-input input {
  background-color: #fff;
}

.currency-input .applied-variant {
  font-size: 12px;
  display: none;
  margin-top: 3px;
}

.currency-input input {
  background-color: #eee;
  padding-inline-end: 50px;
}

.currency-input a {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #b5b5b5;
  display: none;
  pointer-events: none;
}

.currency-input input:valid+a {
  display: block;
  pointer-events: all;
  color: #005bd3;
}

.currency-input input:focus+a,
.currency-input input:focus+a+.applied-variant,
.currency-input input:valid+a+.applied-variant {
  display: block;
}