.ck.ck-editor__main>.ck-editor__editable {
  height: 140px;
}

/* Seo card */
.seo .subtitle {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.seo .seoBtn {
  display: inline-block;
  padding: 2px 7px;
  border-radius: 4px;
  cursor: pointer;
}

.seo .seoBtn:hover {
  background-color: #cccccc26;
}

.seo-prev .site-name {
  font-size: 16px;
  color: #303030;
}

.seo-prev .site-link {
  color: #616161;
  font-size: 14px;
  margin-bottom: 12px;
}

.seo-prev .site-title {
  font-size: 22px;
  color: #005bd3;
  margin-bottom: 6px;
}

.seo-prev .site-desc {
  font-size: 13px;
  color: #616161;
}

/* Seo card */

/* Publishing */
.custom-svg {
  width: 40px;
  height: 30px;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 6px;
}

.custom-svg:hover {
  background-color: #eeeeee83;
}

.publishing-box h3 {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
}

.circleBefore {
  position: relative;
  display: block;
  padding-left: 18px;
  color: #000;
}

.publishing-box p,
.publishing-box a {
  padding-left: 18px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.circleBefore:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50px;
  left: 0;
  top: 4px;
}

.sales-checkbox-01.disabled .form-check-input,
.sales-checkbox-01.disabled span {
  pointer-events: none;
  opacity: 0.3;
}

.sales-checkbox-01 span {
  font-size: 13px;
}

.sales-checkbox-01 p {
  font-size: 12px;
}

.sales-checkbox-bottom {
  background: #f7f7f7;
  padding: 10px 20px;
  font-size: 13px;
  border-top: 1px solid #eee;
}

.sales-checkbox-bottom p {
  margin-bottom: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.custom-calender {
  position: relative;
  width: 100%;
}

.custom-calender svg {
  position: absolute;
  width: 20px;
  top: 7px;
  left: 10px;
  fill: #c2baba;
}

span.get-time-name {
  position: absolute;
  top: 7px;
  right: 10px;
}

.custom-calender select,
.custom-calender input {
  padding-left: 35px !important;
}

.calendar-section {
  margin-bottom: 20px;
}

.calendar,
.calendar_weekdays,
.calendar_content {
  max-width: 585px;
}

.calendar {
  /*float: left;*/
  margin: auto;
  min-width: 320px;
  font-weight: 400;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
}

.calendar_weekdays {
  color: #aaa;
  font-weight: 300;
}

.calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
  color: #000;
}

.calendar_content,
.calendar_weekdays,
.calendar_header {
  position: relative;
}

.calendar_content:after,
.calendar_weekdays:after,
.calendar_header:after {
  content: ' ';
  display: table;
  clear: both;
}

.calendar_weekdays div,
.calendar_content div {
  /*border: 1px dotted #999;*/
  width: 14.28571%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
}

.calendar_content div {
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.calendar_content div:hover {
  border: 1px solid #ededed;
  /*line-height: 68px;*/
  cursor: pointer;
}

.calendar_content div.blank:hover {
  cursor: default;
  border: none;
}

.calendar_content div.past-date {
  cursor: initial;
  color: #d5d5d5;
}

.calendar_content div.selected {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #303030;
}

.calendar_header {
  width: 100%;
  text-align: center;
  position: relative;
  height: 55px;
  display: table;
  vertical-align: middle;
}

.calendar_header h2 {
  padding: 0;
  font-size: 16px;
  color: #000 !important;
  margin-top: 20px;
}

button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #cccccc;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

button.switch-month.switch-left {
  left: 0;
}

button.switch-month.switch-right {
  right: 0;
}

button.switch-month:hover {
  color: #bd83ce;
}

button.switch-month:active {
  background-color: transparent;
}

.switch-month svg {
  fill: #bababa;
  width: 24px;
}

.publishing-dropdown {
  padding: 10px !important;
}

.publishing-dropdown div {
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.publishing-dropdown div:hover {
  background-color: #eeeeee83;
}

/* Publishing End */

.collection-type .form-check input {
  margin-top: 1px;
}

.collection-type .form-check span {
  font-size: 14px;
  color: #303030;
  display: block;
  margin-bottom: 6px;
}

.collection-type .form-check p {
  margin: 0;
  font-size: 13px;
}

.collection-type .form-check p a {
  color: #005bd3;
  text-decoration: underline;
}

.product-search-filter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-search-filter>div:nth-child(1) {
  display: flex;
  gap: 5px;
  flex: 1;
}

.product-search-filter .input {
  flex: 1;
}

.product-search-filter .select2.select2-container {
  min-width: 190px;
}

.product-search-filter .select2-selection__arrow,
.product-search-filter .select2-selection.select2-selection--single {
  border-color: #6d788d !important;
  height: 2.3rem !important;
}

.product-search-filter .select2-selection__rendered {
  line-height: 2.3rem !important;
}

.product-empty {
  padding: 50px 20px;
  text-align: center;
}

.product-empty img {
  margin-bottom: 15px;
}

.product-empty p {
  margin-bottom: 5px;
  font-size: 13px;
  color: #303030;
}

.simple-product-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 20px;
  cursor: pointer;
  border-bottom: 1px solid #cccccc9c;
}

.simple-product-item>div:nth-child(1) {
  min-width: 20px;
}

.simple-product-item:nth-child(1) {
  border-top: 1px solid #cccccc9c;
}

.simple-product-item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 10px;
}

.simple-product-item .info .del {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 4px;
}

.simple-product-item .info .del:hover {
  background-color: #cccccc4d;
}

.simple-product-item .info>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.simple-product-item .info .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2px;
}

.simple-product-item .info .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.simple-product-item .info .title {
  color: #303030;
  font-size: 13px;
}

.simple-product-item .info a.title:hover {
  text-decoration: underline;
}

.added-products {
  max-height: 500px;
  overflow: auto;
}

.added-products .simple-product-item {
  padding: 8px 20px;
  cursor: auto;
}

.added-products .simple-product-item:hover {
  background-color: #f7f7f7;
}

.simple-product-item .dropdown .dropdown-toggle {
  display: inline-block;
  padding: 4px 10px;
}

.simple-product-item .dropdown .dropdown-toggle .active {
  display: inline-block;
  padding: 2px 6px;
  color: #014b40;
  background-color: #affebf;
  border-radius: 8px;
  font-size: 12px;
}

.simple-product-item .dropdown .dropdown-toggle:hover {
  background-color: #f3f3f3;
}

.simple-product-item .dropdown .dropdown-toggle::after {
  margin-inline-start: 0.4em;
  width: 0.45em;
  height: 0.45em;
  opacity: 0;
}

.simple-product-item:hover .dropdown .dropdown-toggle::after {
  opacity: 1;
}

.simple-product-item .dropdown-menu .pos-item:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.simple-product-item .circleBefore {
  position: relative;
  display: block;
  padding-left: 18px;
  color: #000;
  font-size: 13px;
}

.simple-product-item .circleBefore:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  left: 0;
  top: 4px;
}

.simple-product-item .circleBefore.active:before {
  background-color: #047b5d;
  border-color: #047b5d;
}

.simple-product-item .circleBefore.pos:before {
  border-color: #b28400;
}

.simple-product-item .dropdown p {
  font-size: 13px;
  color: #616161;
  margin: 0;
}

.simple-product-item .dropdown p a {
  color: #005bd3;
}

.simple-product-item .dropdown .dropdown-menu {
  padding: 15px;
  min-width: 300px;
}

.table-modal-main {
  margin-top: 10px;
}

.pro-warning-tagline {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  color: #003a5a;
  background-color: #eaf4ff;
  font-size: 13px;
}

.add-condition-item-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #303030 !important;
  padding: 5px 10px;
  border-radius: 6px;
  transition: 0.2s;
  border: 1px solid #ddd;
}

.product-conditions-box .items .item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.product-conditions-box .items .item > div {
  flex: 1;
}

.product-conditions-box .items .item .select2-selection.select2-selection--single {
  border-color: #7d808e !important;
}

.product-conditions-box .items .item .select2-selection__arrow,
.product-conditions-box .items .item .select2-selection.select2-selection--single {
  height: 36px !important;
}

.product-conditions-box .items .item .select2-selection__rendered {
  line-height: 36px !important;
}

.product-conditions-box .items .item a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #7d808e;
  border-radius: 6px;
}

.product-conditions-box .warning-txt {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: #4f4700;
  font-weight: 500;
  margin-bottom: 10px;
}

.modal-body.custom-modal-body {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}

#formError {
  display: none;
}

.error-top {
  background: #c70a24;
  color: #fff;
  padding: 15px 20px;
  border-radius: 15px 15px 0px 0px;
  font-size: 16px;
}

.error-bottom {
  padding: 15px 20px;
  border-radius: 0px 0px 15px 15px;
  font-size: 14px;
}