[data-toggle="aizuploader"] {
    cursor: pointer;
}
.custom-upload-file {
    width: 100%;
}

.custom-upload-file .bg-soft-secondary {
    background: transparent !important;
    width: 100% !important;
    border-radius: 12px !important;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-upload-file .bg-soft-secondary.padding-less
{
    padding: 15px 20px;
}
.form-control.file-amount {
    display: none !important;
}

.file-preview-item h6 {
    font-size: 13px;
    margin-bottom: 0;
}

.file-preview-item {
    padding: 8px;
    border: 1px solid #ebedf2;
    border-radius: 0.25rem;
}

.file-preview-item p {
    font-size: 10px;
    margin-bottom: 0;
    color: var(--secondary);
}

.file-preview-item .thumb {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    height: 45px;
    width: 50px;
    text-align: center;
    background: #f1f2f4;
    font-size: 20px;
    color: #92969b;
    border-radius: 0.25rem;
    overflow: hidden;
}

.file-preview-item .remove {
    -ms-flex: 0 0 52px;
    flex: 0 0 52px;
    max-width: 52px;
    width: 52px;
}

.file-preview-item .body {
    min-width: 0;
}

.file-preview-box a {
    color: inherit;
}

.file-preview-box:after {
    content: "";
    clear: both;
    display: table;
}

.file-preview-box .file-preview-item {
    width: 160px;
    float: left;
    margin-right: 0.5rem;
    padding: 0;
    display: block !important;
    position: relative;
}

.file-preview-box .thumb {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.file-preview-box.sm .file-preview-item {
    width: 100px;
}

.file-preview-box.sm .thumb {
    height: 52px;
}

.file-preview-box .body {
    padding: 0;
    padding: 8px 8px 2px;
}

.file-preview-box .remove {
    position: absolute;
    top: -6px;
    right: -6px;
    width: auto;
    max-width: 100%;
}

.file-preview-box .remove .btn {
    padding: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #eaeaea;
}
/* custom css */
.swal2-html-container{
    text-align: left;
}

.file-preview-imgs .preview-card .card-name{
    word-wrap: break-word;
}

.file-preview-imgs .preview-card .img i{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
}

.file-preview-imgs .preview-card .img .remove i{
    font-size: 10px;
}