.market-country-card {
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

.market-country-card .inactive,
.market-country-card .head {
  padding: 12px;
  color: #303030;
  font-weight: 500;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
}

.market-country-card .inactive {
  border-top: 1px solid #e3e3e3;
}

.market-country-card .market-country-item {
  position: relative;
  padding: 12px;
  display: flex;
  align-items: center;
  color: inherit;
  transition: 0.1s;
}

.market-country-card .market-country-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  border-top: 1px solid #e3e3e3;
}

.market-country-card .market-country-item:hover {
  background-color: #f7f7f7;
}

.market-country-card .market-country-item .name {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 30%;
}

.market-country-card .market-country-item .name img {
  border-radius: 4px;
}

.market-country-card .market-country-item .name h5 {
  color: #303030;
  font-size: 13px;
}

.market-country-card .market-country-item .name p {
  color: #616161;
  font-size: 13px;
  margin: 0;
  margin-top: 4px !important;
}

.market-country-card .market-country-item .ssc {
  width: 20%;
}

.market-country-card .market-country-item .ssc h5 {
  display: flex;
  gap: 8px;
  color: #303030;
  font-size: 13px;
  margin-bottom: 2px !important;
}

.market-country-card .market-country-item .ssc h5 .percentage {
  display: inline-flex;
  align-items: center;
  color: #8a8a8a;
  font-size: 11px;
  font-weight: 500;
}

.market-country-card .market-country-item .ssc p {
  margin: 0;
  font-size: 13px;
  color: #616161;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.market-country-card .market-country-item .arrow {
  width: 10%;
  text-align: right;
}

.market-country-footer {
  background-color: #f7f7f7;
  color: #616161;
}

.market-country-footer a {
  color: #005bd3;
}

.market-country-footer a:hover {
  text-decoration: underline;
}

.market-list-group {
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

.market-list-group .list-item {
  position: relative;
  padding: 12px;
  display: flex;
  align-items: center;
  color: inherit;
  transition: 0.1s;
}

.market-list-group .list-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  border-top: 1px solid #e3e3e3;
}

.market-list-group .list-item:hover {
  background-color: #f7f7f7;
}

.market-list-group .list-item div:not(.arrow) {
  flex: 1;
}

.market-list-group .list-item h5 {
  font-size: 13px;
  color: #303030;
  margin-bottom: 4px !important;
}

.market-list-group .list-item p {
  font-size: 13px;
  margin: 0;
  color: #616161;
}

.countries-regions-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.countries-regions-selection span {
  font-size: 13px;
}

.countries-regions-selection span:nth-child(1) {
  color: #303030;
}

.countries-regions-selection span:nth-child(2) {
  color: #616161;
}

.countries-regions-list .filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 8px;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.countries-regions-list .filter .filter-links {
  display: flex;
  gap: 5px;
}

.countries-regions-list .filter .filter-links a {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 5px;
  color: #303030;
}

.countries-regions-list .filter .filter-links a:hover,
.countries-regions-list .filter .filter-links a.active {
  background-color: #0000000d;
}

.countries-regions-list .filter .search-icon {
  display: inline-block;
  padding: 6px;
  border-radius: 5px;
  line-height: 1;
  box-shadow: 0rem -.0625rem 0rem 0rem #b5b5b5 inset, 0rem 0rem 0rem .0625rem rgba(0, 0, 0, .1) inset, 0rem .03125rem 0rem .09375rem #FFF inset;
}

.countries-regions-list .filter .search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  z-index: 1;
}

.countries-regions-list .filter .search-bar a {
  display: inline-block;
  padding: 4px 8px;
  background-color: #0000000d;
  border-radius: 5px;
  color: #303030;
}

.countries-regions-list .filter .search-bar .input {
  flex: 1;
}

.countries-regions-list .filter .search-bar .input input,
.countries-regions-list .filter .search-bar .input {
  height: 100%;
}

.countries-regions-list .filter .search-bar .input input {
  border: 0;
  padding: 2px;
  background-color: #fafafa;
}

.countries-regions-list .filter .search-bar .input.has-icon span.icon {
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}

.countries-regions-list .filter .search-bar .input.has-icon input {
  padding-inline-start: 30px;
}

.countries-regions-list .form-check-input {
  border-width: 1px !important;
}

.countries-regions-list .countries-regions-groups {
  border: 1px solid #e3e3e3;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.countries-regions-list .countries-group .body {
  border-top: 1px solid #e3e3e3;
}

.countries-regions-list .countries-group:not(:first-child) .head {
  border-top: 1px solid #e3e3e3;
}

.countries-regions-list .countries-group .head,
.countries-regions-list .countries-group .body .country-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: #f7f7f7;
  padding: 12px;
  cursor: pointer;
}

.countries-regions-list .countries-group .body .country-item {
  background-color: transparent;
  transition: 0.1s;
}

.countries-regions-list .countries-group .body .country-item:not(:last-child) {
  border-bottom: 0;
}

.countries-regions-list .countries-group .body .country-item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  border-bottom: 1px solid #e3e3e3;
}

.countries-regions-list .countries-group .body .country-item:hover {
  background-color: #f7f7f7;
}

.countries-regions-list .countries-group .head .name,
.countries-regions-list .countries-group .body .country-item .name {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 1;
  color: #303030;
  font-weight: 500;
}

.countries-regions-list .countries-group .body .country-item .name img {
  width: 32px;
  border-radius: 5px;
}

.countries-regions-list .countries-group .head .count,
.countries-regions-list .countries-group .body .country-item .count {
  color: #303030;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
}

.countries-regions-list .countries-group .head .count svg,
.countries-regions-list .countries-group .body .country-item .count svg {
  transform: rotate(180deg);
  transform-origin: center;
}